.benefit {
  padding: 48px 0;

  @include mediaWidth($value: 768) {
    padding: 0 0 64px;
  }

  &-title {
    @include mediaWidth($value: 768) {
      font-size: 56px;
    }
  }

  &-content {
    display: grid;
    gap: 24px;
    margin: 32px 0 0;

    @include mediaWidth($value: 768) {
      align-items: start;
      grid-template-columns: repeat(2, 1fr);
      gap: 64px 120px;
      margin: 48px 0 0;
    }
  }

  &-item {
    display: flex;
    gap: 16px;

    @include mediaWidth($value: 768) {
      display: grid;
    }

    @include mediaWidth($dir: max, $value: 768) {
      align-items: center;
    }

    &__icon {
      width: 80px;
      height: 80px;
    }

    &__text {
      font-size: 16px;
      font-weight: 500;

      @include mediaWidth($value: 768) {
        font-size: 24px;
      }
    }
  }
}
