.event {
  padding: 48px 0;

  &-container {
    @include mediaWidth($value: 768) {
      position: relative;
    }
  }

  &-text {
    margin: 32px 0 0;
    font-size: 16px;
    font-weight: 500;

    @include mediaWidth($value: 768) {
      position: relative;
      z-index: 2;
      max-width: 344px;
      margin: 48px 0 0;
      font-size: 24px;
    }

    @include mediaWidth($value: 900) {
      max-width: 424px;
    }
  }

  &-illustration {
    display: none;

    @include mediaWidth($value: 768) {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      margin: -120px 0 0;
      transform: rotate(2deg);
    }

    &__item {
      @include mediaWidth($value: 768) {
        position: relative;
      }

      &:nth-child(1) {
        @include mediaWidth($value: 768) {
          margin: 216px 0 0;
        }

        & .event-illustration__icon {
          @include mediaWidth($value: 768) {
            top: -25%;
            left: -58%;
            transform: rotate(-15deg);
          }
        }
      }

      &:nth-child(2) {
        & .event-illustration__icon {
          @include mediaWidth($value: 768) {
            top: -33%;
            left: 47%;
            transform: rotate(135deg);
          }
        }
      }

      &:nth-child(4) {
        @include mediaWidth($value: 768) {
          margin: -216px 0 0;
        }

        & .event-illustration__icon {
          @include mediaWidth($value: 768) {
            top: 15%;
            left: 20%;
          }
        }
      }
    }

    &__image {
      @include mediaWidth($value: 768) {
        width: 100%;
        border-radius: 64px;
      }
    }

    &__icon {
      @include mediaWidth($value: 768) {
        position: absolute;
      }
    }
  }

  &-slider {
    @include mediaWidth($value: 768) {
      display: none;
    }

    @include mediaWidth($dir: max, $value: 768) {
      position: relative;
      margin: 48px -16px 0;
    }

    &__icon {
      @include mediaWidth($dir: max, $value: 768) {
        position: absolute;
        top: -28%;
        right: -14%;
        z-index: 5;
        width: calc(180 / 311 * 100%);
        transform: rotate(135deg);
      }
    }

    &__image {
      @include mediaWidth($dir: max, $value: 768) {
        width: 100%;
        border-radius: 48px;
      }
    }

    &__navigation {
      @include mediaWidth($dir: max, $value: 768) {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin: 24px 0 0;
      }
    }

    &__button {
      @include mediaWidth($dir: max, $value: 768) {
        width: 48px;
        height: 48px;
        background: none;
        border: none;
        border-radius: 50%;
        transition: box-shadow 0.3s ease-in 0s;
      }

      &:hover {
        @include mediaWidth($dir: max, $value: 768) {
          box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
        }
      }

      &:disabled {
        @include mediaWidth($dir: max, $value: 768) {
          opacity: 70%;
          cursor: not-allowed;
        }
      }

      &_prev {
        @include mediaWidth($dir: max, $value: 768) {
          transform: rotate(180deg);
        }
      }
    }
  }
}
