.event {
  padding: 48px 0;

  &-container {
    @include mediaWidth($value: 768) {
      position: relative;
    }
  }

  &__text {
    margin-top: 32px;
    font-size: 16px;
    font-weight: 500;

    @include mediaWidth($value: 768) {
      max-width: 344px;
      margin: 48px 0 0;
      font-size: 24px;
    }

    @include mediaWidth($value: 900) {
      max-width: 424px;
    }
  }

  &-illustration {
    display: none;

    @include mediaWidth($value: 768) {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      margin: -120px 0 0;
      transform: rotate(2deg);
    }

    &__item {
      position: relative;

      &:nth-child(1) {
        margin: 216px 0 0;

        & .event-illustration__icon {
          top: -15%;
          left: -42%;
          transform: rotate(-15deg);
        }
      }

      &:nth-child(2) {
        & .event-illustration__icon {
          top: -10%;
          left: 80%;
          transform: rotate(135deg);
        }
      }

      &:nth-child(4) {
        margin: -216px 0 0;

        & .event-illustration__icon {
          top: 22%;
          left: 46%;
        }
      }
    }

    &__image {
      width: 100%;
      border-radius: 64px;
    }

    &__icon {
      position: absolute;
    }
  }
}
