.point {
  padding: 48px 0;

  &-container {
    @include mediaWidth($value: 768) {
      display: flex;
    }
  }

  &-item {
    @include mediaWidth($value: 768) {
      max-width: 424px;
    }

    &__text {
      margin: 32px 0 0;
      font-size: 16px;

      @include mediaWidth($value: 768) {
        margin: 48px 0 0;
        font-size: 24px;
      }
    }
  }

  &-illustration {
    @include mediaWidth($dir: max, $value: 768) {
      display: none;
    }

    @include mediaWidth($value: 768) {
      position: relative;
      width: 100%;
    }

    &__blur {
      @include mediaWidth($value: 768) {
        position: absolute;
        z-index: 1;
        top: 5%;
        right: -25%;
        width: 50%;
        height: 60%;
        opacity: 0.5;
        background: $color-violet;
        filter: blur(100px);
        transform: rotate(140deg);
        border-radius: 408px;
      }
    }

    &__image {
      @include mediaWidth($value: 768) {
        position: absolute;
        z-index: 2;
        top: -30%;
        left: 0;
        transform: rotate(-15deg);
      }
    }

    &__icon {
      @include mediaWidth($value: 768) {
        position: absolute;
        z-index: 3;
        top: 18%;
        left: 22%;
        transform: rotate(5deg);
      }
    }
  }
}
