.profit {
  padding: 48px 0;

  &-container {
    @include mediaWidth($value: 768) {
      display: flex;
    }
  }

  &-illustration {
    position: relative;
    width: 100%;

    &__blur {
      position: absolute;
      z-index: 1;
      width: 50%;
      height: 60%;
      background: $color-violet;
      filter: blur(100px);
      transform: rotate(140deg);
      border-radius: 408px;
      opacity: 0.5;

      @include mediaWidth($value: 768) {
        top: 18%;
        left: 2%;
      }

      @include mediaWidth($dir: max, $value: 768) {
        top: 30%;
        left: 35%;
      }
    }

    &__image {
      position: relative;
      z-index: 2;
      display: block;
      width: calc(184 / 311 * 100%);

      @include mediaWidth($value: 768) {
        width: calc(284 / 440 * 100%);
      }

      @include mediaWidth($dir: max, $value: 768) {
        margin: 0 auto;
      }
    }

    &__text {
      position: absolute;
      top: 0;
      left: calc(50% - 300 / 375 * 100% / 2);
      width: calc(300 / 375 * 100%);
      animation: rotate 40s linear infinite;

      @include mediaWidth($value: 768) {
        top: 0;
        left: -10%;
        width: 100%;
      }

      @include mediaWidth($value: 1024) {
        left: -15%;
      }

      @include mediaWidth($dir: max, $value: 768) {
        transform: translateX(-50%);
      }
    }
  }

  &-item {
    @include mediaWidth($value: 768) {
      max-width: 424px;
    }

    @include mediaWidth($dir: max, $value: 768) {
      margin: 32px 0 0;
    }

    &__text {
      margin: 32px 0 0;
      font-size: 16px;
      font-weight: 500;

      @include mediaWidth($value: 768) {
        margin: 48px 0 0;
        font-size: 24px;
      }
    }

    &__button {
      margin: 32px 0 0;

      @include mediaWidth($value: 768) {
        margin: 48px 0 0;
      }

      @include mediaWidth($dir: max, $value: 768) {
        width: 100%;
      }
    }
  }
}
