@font-face {
  font-family: 'YS Text';
  src: url('/src/fonts/text-regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'YS Text';
  src: url('/src/fonts/text-medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'YS Text';
  src: url('/src/fonts/text-black.woff');
  font-weight: 800;
}
